<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <!-- CSS  -->
  <link href='https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="https://fonts.googleapis.com/css?family=Mr+Dafoe" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/style.css">


  <title>PLAYTE</title>
    </head>
    <body>
        {{{ body }}}
    </body>
    <br>
    <footer class="footer offset2">
        <div class="container">
        </div>
        
    </footer>
    
    <script src="/js/materialize.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
</html>
