body{
  background-color: white;
}
#title {
  font-family: 'Mr Dafoe', cursive;
  font-size: 40px;
  position: center;
  color: white;
}
/* .section1 {
  background-color: white;
  position:absolute;
  background-repeat: no-repeat; 
  background-size: cover;
  width:100%; 
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
} */

nav {
  height: 80px;
}
.description{
  margin-top: 2%;
  color: black;
  font-family: 'Mr Dafoe', cursive;
  letter-spacing: 5px;
}
h2{
  text-shadow: grey 3px 3px 4px;
}



#aboutUs{
  font-family: 'brown', helvetica, arial, sans-serif;
  border: white solid 1px;
  margin-top: 50px;
}
.social {
  margin-top: 50px;
}
.email {
  font-family: 'brown', helvetica, arial, sans-serif;
  color:lightslategrey;
}
.page-footer {
  top: 100%;
  position:absolute;
  width: 100%;
  height: 350px;
}
